@import "animate.less";

@black: hsl(0, 0%, 10%);
@white: hsl(360, 100%, 100%);
@yellow: #FCFCA4;

h2{
    margin-top: 0;
}
.loading-indicator{
    z-index: 10000;
    background: fade(@black, 50%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .throbber{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 400px;
        margin-left: -200px;
        margin-top: -25px;
        color: @white;
        text-align: center;
        font-size: 3em;

        .animated();
        .infinite();
        .pulse();
    }
}

.well{
    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;
    }
}

.error{
    background: @brand-warning;
    border-color: darken(@brand-warning, 20%);
}
.info{
    margin-top: 5em;
}
.queueNumber{
    font-size: 15em;
    font-weight: bold;
    line-height: 0.85em;
}
.form{
    margin-top: 3em;
}
.ticket{
    // text-align: center;
    .ticketPos{
        color: rgba(0, 150, 0, 1)
        // font-size: 5em;
    }
}
.label{
    text-transform: uppercase;
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.2);
}
.yourTurn{
    margin: 0.5em 0;
    text-align: center;
    font-size: 15em;
    font-weight: bold;
    line-height: 0.85em;
    color: rgba(0, 150, 0, 1);
    &.passed{
        color: rgba(150, 0, 0, 1);
    }
}

.current-number{
    background: @yellow;
    padding: 0.5em;
    margin: 0.3em -0.5em;
    font-size: 2em;
    border: 1px solid darken(@yellow,10);
    border-radius: 10px;
}

.template-tv{
    background: black;
    color: @white;
    .label{
        text-transform: uppercase;
        font-size: 1.7em;
        color: rgba(255, 255, 255, 0.2);
    }
}